@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
$montserrat: 'Montserrat', sans-serif;

@keyframes playin
{
	0% {transform: scale(1);}
	80% {transform: scale(1.2);}
	100% {transform: scale(1.1);}
}

@keyframes bgone
{
	0% {opacity: 1}
	20% {opacity: 1}
	25% {opacity: 0}
	95% {opacity: 0}
	100% {opacity: 1}
}

@keyframes bgtwo
{
	0% {opacity: 0}
	20% {opacity: 0}
	25% {opacity: 1}
	45% {opacity: 1}
	50% {opacity: 0}
	95% {opacity: 0}
}

@keyframes bgthree
{
	0% {opacity: 0}
	45% {opacity: 0}
	50% {opacity: 1}
	70% {opacity: 1}
	75% {opacity: 0}
}

@keyframes bgfour
{
	0% {opacity: 0}
	70% {opacity: 0}
	75% {opacity: 1}
	95% {opacity: 1}
	100% {opacity: 0}
}

.Home-container
{
	width: 100vw;
	height: 100vh;
	background-size: cover;

	.bg1, .bg2, .bg3, .bg4
	{
		position: absolute;
		height: 100%;
		width: 100%;
		background-size: cover;
		background-position: center center;
		z-index: 0;
	}

	.bg1
	{
		background-image: url(/img/background1.jpg);
		opacity: 1;
		animation: bgone 30s infinite;
		animation-delay: 7.5s;
	}

	.bg2
	{
		background-image: url(/img/background2.jpg);
		opacity: 0;
		animation: bgtwo 30s infinite;
		animation-delay: 7.5s;
	}

	.bg3
	{
		background-image: url(/img/background3.jpg);
		opacity: 0;
		animation: bgthree 30s infinite;
		animation-delay: 7.5s;
	}

	.bg4
	{
		background-image: url(/img/background4.jpg);
		opacity: 0;
		animation: bgfour 30s infinite;
		animation-delay: 7.5s;
	}
}

.nav
{
	position: absolute;
	width: 100%;
	height: 100px;
	margin: 0;
	z-index: 1;

	a
	{
		text-decoration: none;
		color: inherit;
	}

	&__list
	{
		margin: 0;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		width: auto;
		height: auto;
		float: right;

		&__item
		{
			font-family: $montserrat;
			font-size: 1em;
			font-weight: 450;
			display: inline-block;
			margin-right: 50px;
			color: white;
		}

		&__item:hover
		{
			animation: playin .1s forwards;
		}
	}
}

.home
{
	height: 100%;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;

	&__logo
	{
		width: 300px;
		z-index: 1;
	}
}