@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

$montserrat: 'Montserrat', sans-serif;

@keyframes playin
{
	0% {transform: scale(1);}
	80% {transform: scale(1.2);}
	100% {transform: scale(1.1);}
}

@keyframes bgone
{
	0% {opacity: 1}
	25% {opacity: 1}
	30% {opacity: 0}
	95% {opacity: 0}
	100% {opacity: 1}
}

@keyframes bgtwo
{
	0% {opacity: 0}
	20% {opacity: 0}
	25% {opacity: 1}
	50% {opacity: 1}
	55% {opacity: 0}
	95% {opacity: 0}
}

@keyframes bgthree
{
	0% {opacity: 0}
	45% {opacity: 0}
	50% {opacity: 1}
	75% {opacity: 1}
	80% {opacity: 0}
}

@keyframes bgfour
{
	0% {opacity: 1}
	5% {opacity: 0}
	70% {opacity: 0}
	75% {opacity: 1}
	100% {opacity: 1}
}

.Home-container
{
	width: 100vw;
	height: 100vh;
	background-size: cover;

	.bg1, .bg2, .bg3, .bg4
	{
		position: absolute;
		height: 100%;
		width: 100%;
		background-size: cover;
		background-position: center center;
		z-index: 0;
	}

	.bg1
	{
		background-image: url(../images/background1.jpg);
		opacity: 1;
		animation: bgone 60s infinite;
		animation-delay: 7.5s;
		z-index: 1;
	}

	.bg2
	{
		background-image: url(../images/background2.jpg);
		opacity: 0;
		animation: bgtwo 60s infinite;
		animation-delay: 7.5s;
		z-index: 2;
	}

	.bg3
	{
		background-image: url(../images/background3.jpg);
		opacity: 0;
		animation: bgthree 60s infinite;
		animation-delay: 7.5s;
		z-index: 3;
	}

	.bg4
	{
		background-image: url(../images/background4.jpg);
		opacity: 0;
		animation: bgfour 60s infinite;
		animation-delay: 7.5s;
		z-index: 4;
	}
}

.menu
{
	position: absolute;
	width: auto;
	height: auto;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 5;
	text-align: center;
	padding: 0;
	background-color: rgba(0, 0, 0, .45);
	border: 5px solid white;

	a
	{
		text-decoration: none;
		color: inherit;
	}

	&__logo
	{
		width: 450px;
		margin-bottom: 20px;
	}

	&__list
	{
		width: auto;
		height: auto;
		list-style: none;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		padding: 0;
		margin-bottom: 50px;

		&__item
		{
			font-family: $montserrat;
			font-size: 1em;
			font-weight: 700;
			color: white;
			width: auto;
			margin-bottom: 10px;
		}

		&__item:hover
		{
			animation: playin .1s forwards;
		}

		.play
		{
			font-size: 3em;
		}

	}
}