@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

$montserrat: 'Montserrat', sans-serif;

@keyframes playin
{
	0% {transform: scale(1);}
	80% {transform: scale(1.2);}
	100% {transform: scale(1.1);}
}

@keyframes bgone
{
	0% {opacity: 1}
	25% {opacity: 1}
	30% {opacity: 0}
	95% {opacity: 0}
	100% {opacity: 1}
}

@keyframes bgtwo
{
	0% {opacity: 0}
	20% {opacity: 0}
	25% {opacity: 1}
	50% {opacity: 1}
	55% {opacity: 0}
	95% {opacity: 0}
}

@keyframes bgthree
{
	0% {opacity: 0}
	45% {opacity: 0}
	50% {opacity: 1}
	75% {opacity: 1}
	80% {opacity: 0}
}

@keyframes bgfour
{
	0% {opacity: 1}
	5% {opacity: 0}
	70% {opacity: 0}
	75% {opacity: 1; z-index: 4;}
	100% {opacity: 1; z-index: 0;}
}

@keyframes colorizeone
{
	0% {background-color: #000000; color: white;}
	20% {background-color: #FFC733; color: black;}
	40% {background-color: #44E894; color: black;}
	60% {background-color: #557CE8; color: black;}
	80% {background-color: #E84A41; color: black;}
	100% {background-color: #000000; color: white;}
}

@keyframes colorizetwo
{
	0% {background-color: #ffffff;}
	20% {background-color: #FFC733;}
	40% {background-color: #44E894;}
	60% {background-color: #557CE8;}
	80% {background-color: #E84A41;}
	100% {background-color: #ffffff;}
}

@keyframes loginin
{
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes loginout
{
	from {opacity: 1;}
	to {opacity : 0;}
}

.Home-container
{
	width: 100vw;
	height: 100vh;
	background-size: cover;

	a
	{
		text-decoration: none;
		color: inherit;
	}

	.bg1, .bg2, .bg3, .bg4
	{
		position: absolute;
		height: 100%;
		width: 100%;
		background-size: cover;
		background-position: center center;
	}

	.bg1
	{
		background-image: url(../images/background1.jpg);
		opacity: 1;
		animation: bgone 40s infinite;
		animation-delay: 0s;
		z-index: 1;
	}

	.bg2
	{
		background-image: url(../images/background2.jpg);
		opacity: 0;
		animation: bgtwo 40s infinite;
		animation-delay: 0s;
		z-index: 2;
	}

	.bg3
	{
		background-image: url(../images/background3.jpg);
		opacity: 0;
		animation: bgthree 40s infinite;
		animation-delay: 0s;
		z-index: 3;
	}

	.bg4
	{
		background-image: url(../images/background4.jpg);
		opacity: 0;
		animation: bgfour 40s infinite;
		animation-delay: 0s;
		z-index: 0;
	}
}

.menu
{
	display: block;
	position: absolute;
	width: auto;
	height: auto;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 5;
	text-align: center;
	padding: 0;
	background-color: rgba(0, 0, 0, .45);
	border: 1px solid white;

	&--loginin
	{
		animation: loginin .75s forwards;
	}

	&--loginout
	{
		animation: loginout .75s forwards;
	}

	a
	{
		text-decoration: none;
		color: inherit;
	}

	&__logo
	{
		height: 300.15px;
		width: 450px;
		margin-bottom: 20px;
		background: url(../images/mainlogo.gif) no-repeat center/100%;
	}

	&__list
	{
		width: auto;
		height: auto;
		list-style: none;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		padding: 0;
		margin-bottom: 50px;

		&__item
		{
			font-family: $montserrat;
			font-size: 1em;
			font-weight: 700;
			color: white;
			width: auto;
			margin-bottom: 10px;
			display: inline-block;
		}
		
		&__item:nth-child(1)
		{
			font-size: 3em;
		}

		&__item:hover
		{
			animation: playin .1s forwards;
		}

	}
}

.logincontainer
{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 1);
	z-index: 100;
	opacity: 0;

	&--loginin
	{
		animation: loginin .75s forwards;
	}

	&--loginout
	{
		animation: loginout .75s forwards;
	}

	&__login
	{
		width: 450px;
		height: auto;
		position: relative;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);

		&__back
		{
			width: 50px;
			height: 50px;
			background: url(../images/back.png) no-repeat;
			background-size: cover;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			transition: .2s;
		}

		&__back:hover
		{
			transform: translateX(-50%) scale(1.2);
		}

		&__logo
		{
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			width: 80%;
			height: 180px;
			background: url(../images/mainlogoblack.gif) no-repeat;
			background-size: cover;
		}

		&__form input
		{
			border: 0px;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			background-color: black;
			color: white;
			font-size: 1.1em;
			font-weight: 700;
			letter-spacing: 5px;
			font-family: $montserrat;
			width: calc(75% - 20px);
			height: 35px;
			margin-top: 15px;
			text-transform: uppercase;
			padding-left: 10px;
		}

		.submit
		{
			width: 328px;
			cursor: pointer;
		}

		.submit:hover
		{
			color: black;
			animation: colorizeone 5s infinite;
		}

		p
		{
			width: auto;
			display: inline-block;
			font-family: $montserrat;
			font-size: 0.8em;
			text-align: center;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			border-bottom: 1px solid rgba(0, 0, 0, 0);
			padding-bottom: 2px;
			margin: 0;
		}

		.signupbutton
		{
			margin-top: 15px;
		}

		p:hover
		{
			border-bottom: 1px solid black;
		}
	}
}

.signupcontainer
{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(10, 10, 10, 1);
	z-index: 150;
	opacity: 0;

	&--loginin
	{
		animation: loginin .75s forwards;
	}

	&--loginout
	{
		animation: loginout .75s forwards;
	}

	&__signup
	{
		width: 450px;
		height: auto;
		position: relative;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);

		&__back
		{
			width: 50px;
			height: 50px;
			background: url(../images/backwhite.png) no-repeat;
			background-size: cover;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			transition: .2s;
			margin-bottom: 20px;
		}

		&__back:hover
		{
			transform: translateX(-50%) scale(1.2);
		}

		p
		{
			font-family: $montserrat;
			font-size: 1.5em;
			letter-spacing: 15px;
			font-weight: 700;
			text-transform: uppercase;
			color: white;
			width: 150%;
			text-align: center;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			margin: 0;
			margin-bottom: 20px;
		}

		&__form input
		{
			border: 0px;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			background-color: white;
			color: black;
			font-size: 1.1em;
			font-weight: 700;
			letter-spacing: 5px;
			font-family: $montserrat;
			width: calc(75% - 20px);
			height: 35px;
			margin-top: 15px;
			text-transform: uppercase;
			padding-left: 10px;
		}

		.submit
		{
			width: 328px;
			cursor: pointer;
		}

		.submit:hover
		{
			color: black;
			animation: colorizetwo 5s infinite;
		}
	}
}