@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

$montserrat: 'Montserrat', sans-serif;

@keyframes fadein
{
	from {opacity: 0}
	to {opacity: 1}
}

@keyframes fadeout
{
	from {opacity: 1}
	to {opacity: 0}
}

.hud {
    position:relative;

    &__top, &__bottom {
        height:50%;
        position:relative;
    }

    &__music {
        padding-top: 40px;
        padding-left: 40px;
    }

    &__top
    {
    	.tracktitle
    	{
    		font-weight: 700;
    		font-family: $montserrat;
    		font-size: 2em;
    		font-style: italic;
    		line-height: 0.9em;
    		margin-bottom: 5px;
    	}

    	.trackartist
    	{
    		font-weight: 700;
    		font-family: $montserrat;
    		font-size: 1em;
    		text-transform: uppercase;
    		letter-spacing: 3px;
    	}

    	.trackyear
    	{
    		font-weight: 700;
    		font-family: $montserrat;
    		font-size: 1em;
    		letter-spacing: 3px;
    	}

    	.compteur
    	{
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			font-family: $montserrat;
			font-size: 20em;
			font-weight: 700;
		}
    }

    &__bottom
   	{
   		.hud__wow
   		{
   			display: inline-block;
   			position: relative;
   			left: 50%;
   			top: 50%;
   			transform: translateX(-50%) translateY(-50%);
   		}

   		.wow__text
   		{
   			font-size: 4em;
   			text-transform: uppercase;
   			font-weight: 700;
   		}
   	}
}
