@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

$montserrat: 'Montserrat', sans-serif;

.hud {
    position:relative;

    &__top, &__bottom {
        height:50%;
        position:relative;
    }

    &__top
    {
    	.tracktitle
    	{
    		position: absolute;
    		top: 40px;
    		left: 40px;
    		font-weight: 700;
    		font-family: $montserrat;
    		font-size: 2em;
    		font-style: italic;
    	}

    	.trackartist
    	{
    		position: absolute;
    		top: 75px;
    		left: 42px;
    		font-weight: 700;
    		font-family: $montserrat;
    		font-size: 1em;
    		text-transform: uppercase;
    		letter-spacing: 3px;
    	}

    	.trackyear
    	{
    		position: absolute;
    		top: 93px;
    		left: 44px;
    		font-weight: 700;
    		font-family: $montserrat;
    		font-size: 1em;
    		letter-spacing: 3px;
    	}
    }
}
