@import 'home.scss';
@import 'about.scss';

@import 'hud.scss';

html,
body{
  margin: 0;
}

.game-window{
  background: #f8F8F8;
}

.konvajs-content {

}

.container {
    display: flex;

    .hud {
        flex:1;
    }

    main {
        flex:1;
    }
}
